<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>SFT - Schedule For Trainer</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="images/logo.png" id="logo"/>
            </div>
        </div>
        <div class="row" id="links">
            <div class="col">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark" href="admin.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark active" href="add-training.html">Add Training</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark" href="#">Browse users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark" href="#">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" id="header">
            <div class="col">
                <span>Add training</span>
            </div>
        </div>
        <div class="row" id="content">
            <div class="col"></div>
            <div class="col-8" id="form">
            <form >
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date">
                </div>
                <div class="form-group">
                    <label for="time">Time</label>
                    <input type="time" class="form-control" id="time">
                </div>
                <div class="form-group">
                    <label for="duration">Duration</label>
                    <input type="time" class="form-control" id="duration">
                </div>
                <div class="form-group">
                    <label for="capacity">Capacity</label>
                    <input type="number" step="1" min="0" class="form-control" id="capacity">
                </div>
                <button type="submit" class="btn btn-dark">Save</button>
            </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="js/add-training.js"></script>
</html>