<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>SFT - Schedule For Trainer</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="images/logo.png" id="logo"/>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-5" id="form">
                <span class="d-block p-2 bg-dark text-white">Logging in</span><br>
                <form >
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-dark">Log in</button>

                </form>
                <br>
                <a href="#" id="link">Don't have account? Register.</a>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="js/login.js"></script>
</html>